* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

h1 {
  font-size: 52px;
}

button {
  padding: 8px;
  border-radius: 4px;
  background: purple;
  color: #fff;
}
